.form{
  background-color: #212227;
  width: 400px;
  height: 370px;
  color: #6f008b;
  border-radius: 15px;
  margin: 10% auto;
  box-shadow: 5px 5px #6f008b;
  padding: 25px 15px;
}
.email{
  width: 80%;
  padding: 10px;
  margin:auto;
  border: none;
  border-radius: 5px;
  background-color: #6f008b;
  color: #fff;
}

.password{
  width: 80%;
  padding: 10px;
  margin:auto;
  border: none;
  border-radius: 5px;
  background-color: #6f008b;
  color: #fff;
}

.btn{
  width: 80%;
  padding: 10px;
  margin-left:38px;
  border: none;
  border-radius: 5px;
  background-color: #6f008b;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
.btn:hover{
  background-color: #fff;
  color: #6f008b;
  font-size: 20px;
  font-weight: 700;
}

.txt{
  margin: 10px 38px;
  font-size: 30px;
  font-weight: 700;
}

ul li{
  margin: 20px 38px;
  font-size: 25px;
  font-weight: 600;
  overflow-wrap: break-word;
  line-height: 1.5;
  width: 180px;
  list-style-type: '✍🏽';
  cursor: pointer;
}

.Done{
  text-decoration: line-through;
}

.tasksList{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span{
  margin-right: 50px;
  font-size: 25px;
  cursor: pointer;
}

